* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #282C33;
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 95%;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

a {
  color: #ABB2BF;
  transition: color .2s ease-in-out;
}

a:hover {
  color: #7EF7FF;
}